<a href="https://colab.research.google.com/github/HelloJavaBin/BinKno/blob/master/mysql-gemini-vannadb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Generating SQL for MySQL using Google Gemini, Vanna Hosted Vector DB (Recommended)
This notebook runs through the process of using the `vanna` Python package to generate SQL using AI (RAG + LLMs) including connecting to a database and training. If you're not ready to train on your own database, you can still try it using a sample [SQLite database](app.md).


<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Which LLM do you want to use?</h3>
<ul class="grid w-full gap-6 md:grid-cols-2">
    
  <li>
    <a href="../mysql-openai-vanna-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">OpenAI via Vanna.AI (Recommended)</div>
        <small class="w-full">Use Vanna.AI for free to generate your queries</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mysql-openai-standard-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">OpenAI</div>
        <small class="w-full">Use OpenAI with your own API key</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mysql-openai-azure-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Azure OpenAI</div>
        <small class="w-full">If you have OpenAI models deployed on Azure</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mysql-anthropic-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Anthropic</div>
        <small class="w-full">Use Anthropics Claude with your Anthropic API Key</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mysql-ollama-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Ollama</div>
        <small class="w-full">Use Ollama locally for free. Requires additional setup.</small>
      </div>
    </a>
  </li>
    
  <li>
    <span class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border bg-white p-5 border-blue-600 text-blue-600 dark:bg-gray-800 dark:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold"><span class="hidden">[Selected]</span> Google Gemini</div>
        <small class="w-full">Use Google Gemini with your Gemini or Vertex API Key</small>
      </div>
    </span>
  </li>
  
  <li>
    <a href="../mysql-mistral-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Mistral via Mistral API</div>
        <small class="w-full">If you have a Mistral API key</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mysql-other-llm-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Other LLM</div>
        <small class="w-full">If you have a different LLM model</small>
      </div>
    </a>
  </li>
    
</ul>


<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Where do you want to store the 'training' data?</h3>
<ul class="grid w-full gap-6 md:grid-cols-2">
    
  <li>
    <span class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border bg-white p-5 border-blue-600 text-blue-600 dark:bg-gray-800 dark:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold"><span class="hidden">[Selected]</span> Vanna Hosted Vector DB (Recommended)</div>
        <small class="w-full">Use Vanna.AIs hosted vector database (pgvector) for free. This is usable across machines with no additional setup.</small>
      </div>
    </span>
  </li>
  
  <li>
    <a href="../mysql-gemini-chromadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">ChromaDB</div>
        <small class="w-full">Use ChromaDBs open-source vector database for free locally. No additional setup is necessary -- all database files will be created and stored locally.</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mysql-gemini-qdrant/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Qdrant</div>
        <small class="w-full">Use Qdrants open-source vector database</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mysql-gemini-marqo/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Marqo</div>
        <small class="w-full">Use Marqo locally for free. Requires additional setup. Or use their hosted option.</small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mysql-gemini-other-vectordb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Other VectorDB</div>
        <small class="w-full">Use any other vector database. Requires additional setup.</small>
      </div>
    </a>
  </li>
    
</ul>

## Setup

In [ ]:
%pip install 'vanna[gemini,mysql]'

In [4]:
from vanna.vannadb import VannaDB_VectorStore
from vanna.google import GoogleGeminiChat

In [16]:



class MyVanna(VannaDB_VectorStore, GoogleGeminiChat):
    def __init__(self, config=None):
        MY_VANNA_MODEL = 'testcato'# Your model name from https://vanna.ai/account/profile
        MY_VANNA_API_KEY = 'f06e2090723d4510bba64495133b7ca3'
        GEMINI_API_KEY= 'AIzaSyBacdNVRKrVO1-J8MpLAwEdeJVc3SIO9Ng'
        GEMINI_MODEL= 'Gemini 2.0 Flash1'
        VannaDB_VectorStore.__init__(self, vanna_model=MY_VANNA_MODEL, vanna_api_key=MY_VANNA_API_KEY, config=config)
        GoogleGeminiChat.__init__(self, config={'api_key': GEMINI_API_KEY, 'model': GEMINI_MODEL})

vn = MyVanna()


<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Which database do you want to query?</h3>
<ul class="grid w-full gap-6 md:grid-cols-2">
    
  <li>
    <a href="../postgres-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Postgres</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../mssql-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Microsoft SQL Server</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <span class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border bg-white p-5 border-blue-600 text-blue-600 dark:bg-gray-800 dark:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold"><span class="hidden">[Selected]</span> MySQL</div>
        <small class="w-full"></small>
      </div>
    </span>
  </li>
  
  <li>
    <a href="../duckdb-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">DuckDB</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../snowflake-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Snowflake</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../bigquery-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">BigQuery</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../sqlite-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">SQLite</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../oracle-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Oracle</div>
        <small class="w-full"></small>
      </div>
    </a>
  </li>
    
  <li>
    <a href="../other-database-gemini-vannadb/" class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-gray-200 bg-white p-5 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:peer-checked:text-blue-500">
      <div class="block">
        <div class="w-full text-lg font-semibold">Other Database</div>
        <small class="w-full">Use Vanna to generate queries for any SQL database</small>
      </div>
    </a>
  </li>
    
</ul>

In [ ]:
vn.connect_to_mysql(host='localhost', dbname='test1', user='root', password='root', port=3306)

## Training
You only need to train once. Do not train again unless you want to add more training data.

In [ ]:

# The information schema query may need some tweaking depending on your database. This is a good starting point.
df_information_schema = vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

# This will break up the information schema into bite-sized chunks that can be referenced by the LLM
plan = vn.get_training_plan_generic(df_information_schema)
plan

# If you like the plan, then uncomment this and run it to train
# vn.train(plan=plan)

In [6]:

# The following are methods for adding training data. Make sure you modify the examples to match your database.

# DDL statements are powerful because they specify table names, colume names, types, and potentially relationships
vn.train(ddl="""
CREATE TABLE `aircrafts_data` (
  `aircraft_code` char(3) NOT NULL COMMENT 'Code for the aircraft',
  `model` varchar(150) DEFAULT NULL COMMENT 'Aircraft model in JSON format',
  `range` int DEFAULT NULL COMMENT 'The range of the aircraft',
  PRIMARY KEY (`aircraft_code`)
)
""")
# Sometimes you may want to add documentation about your business terminology or definitions.
#vn.train(documentation="aircrafts_data this table provides information about the aircraft")

vn.train(ddl="""
CREATE TABLE `airports_data` (
  `airport_code` char(3) NOT NULL COMMENT 'Code for the airport',
  `airport_name` varchar(150) DEFAULT NULL COMMENT 'Name of the airport in JSON format',
  `city` varchar(150) DEFAULT NULL COMMENT 'City where the airport is located',
  `coordinates` varchar(255) DEFAULT NULL COMMENT 'Geographic coordinates of the airport',
  `timezone` varchar(255) DEFAULT NULL COMMENT 'Timezone of the airport',
  PRIMARY KEY (`airport_code`)
)
""")
#vn.train(documentation="aircrafts_data this table provides information about the aircraft")

vn.train(ddl="""
CREATE TABLE `flights` (
  `flight_id` int NOT NULL COMMENT 'Flight ID',
  `flight_no` char(6) DEFAULT NULL COMMENT 'Flight number',
  `scheduled_departure` varchar(30) DEFAULT NULL COMMENT 'Scheduled departure time with timestamp and time zone',
  `scheduled_arrival` varchar(30) DEFAULT NULL COMMENT 'Scheduled arrival time with timestamp and time zone',
  `departure_airport` char(3) DEFAULT NULL COMMENT 'Departure airport code',
  `arrival_airport` char(3) DEFAULT NULL COMMENT 'Arrival airport code',
  `status` varchar(20) DEFAULT NULL COMMENT 'Flight status(Enumerated value:Arrived,Scheduled,On Time,Delayed,Cancelled,Departed)',
  `aircraft_code` char(3) DEFAULT NULL COMMENT 'Aircraft code',
  `actual_departure` varchar(30) DEFAULT NULL COMMENT 'Actual departure time with timestamp and time zone',
  `actual_arrival` varchar(30) DEFAULT NULL COMMENT 'Actual arrival time with timestamp and time zone',
  PRIMARY KEY (`flight_id`)
)
""")

# Sometimes you may want to add documentation about your business terminology or definitions.
#vn.train(documentation="Our business defines OTIF score as the percentage of orders that are delivered on time and in full")

# You can also add SQL queries to your training data. This is useful if you have some queries already laying around. You can just copy and paste those from your editor to begin generating new SQL.
#vn.train(sql="SELECT * FROM my-table WHERE name = 'John Doe'")

vn.train(question="What is the range of the 319 airport", sql="SELECT range FROM aircrafts_data WHERE airport_code = '319'")
vn.train(question="Show me ABA airport's information", sql="SELECT * FROM airports_data WHERE airport_code = 'ABA'")
vn.train(question="Query all flight information for 319", sql="SELECT * FROM flights where aircraft_code='319'")
vn.train(question="How many flights are delayed from Moscow to Chelyabinsk", sql="SELECT count(*) FROM `flights` where departure_airport in (select airport_code from airports_data where city='Moscow') and arrival_airport in (select airport_code from airports_data where city='Chelyabinsk') and status='Delayed'")

Adding ddl:
CREATE TABLE `aircrafts_data` (
  `aircraft_code` char(3) NOT NULL COMMENT 'Code for the aircraft',
  `model` varchar(150) DEFAULT NULL COMMENT 'Aircraft model in JSON format',
  `range` int DEFAULT NULL COMMENT 'The range of the aircraft',
  PRIMARY KEY (`aircraft_code`)
)

Adding ddl:
CREATE TABLE `airports_data` (
  `airport_code` char(3) NOT NULL COMMENT 'Code for the airport',
  `airport_name` varchar(150) DEFAULT NULL COMMENT 'Name of the airport in JSON format',
  `city` varchar(150) DEFAULT NULL COMMENT 'City where the airport is located',
  `coordinates` varchar(255) DEFAULT NULL COMMENT 'Geographic coordinates of the airport',
  `timezone` varchar(255) DEFAULT NULL COMMENT 'Timezone of the airport',
  PRIMARY KEY (`airport_code`)
)

Adding ddl:
CREATE TABLE `flights` (
  `flight_id` int NOT NULL COMMENT 'Flight ID',
  `flight_no` char(6) DEFAULT NULL COMMENT 'Flight number',
  `scheduled_departure` varchar(30) DEFAULT NULL COMMENT 'Scheduled departure time with timestamp and time zone',
  `scheduled_arrival` varchar(30) DEFAULT NULL COMMENT 'Scheduled arrival time with timestamp and time zone',
  `departure_airport` char(3) DEFAULT NULL COMMENT 'Departure airport code',
  `arrival_airport` char(3) DEFAULT NULL COMMENT 'Arrival airport code',
  `status` varchar(20) DEFAULT NULL COMMENT 'Flight status(Enumerated value:Arrived,Scheduled,On Time,Delayed,Cancelled,Departed)',
  `aircraft_code` char(3) DEFAULT NULL COMMENT 'Aircraft code',
  `actual_departure` varchar(30) DEFAULT NULL COMMENT 'Actual departure time with timestamp and time zone',
  `actual_arrival` varchar(30) DEFAULT NULL COMMENT 'Actual arrival time with timestamp and time zone',
  PRIMARY KEY (`flight_id`)
)

'ddbb6bb23bb89c1b88ca46199dbea192-sql'

In [7]:
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,452011-ddl,ddl,None,\nCREATE TABLE `airports_data` (\n `airport_c...
1,862366-sql,sql,Show me ABA airport's information,SELECT * FROM airports_data WHERE airport_code...
2,862368-sql,sql,How many flights are delayed from Moscow to Ch...,SELECT count(*) FROM `flights` where departure...
3,452012-ddl,ddl,None,\nCREATE TABLE `flights` (\n `flight_id` int ...
4,862367-sql,sql,Query all flight information for 319,SELECT * FROM flights where aircraft_code='319'
5,862365-sql,sql,What is the range of the 319 airport,SELECT range FROM aircrafts_data WHERE airport...
6,452010-ddl,ddl,None,\nCREATE TABLE `aircrafts_data` (\n `aircraft...

In [ ]:
# You can remove training data if there's obsolete/incorrect information.
vn.remove_training_data(id='1-ddl')

## Asking the AI
Whenever you ask a new question, it will find the 10 most relevant pieces of training data and use it as part of the LLM prompt to generate the SQL.

In [13]:
result=vn.generate_sql('How long does it take to fly from Moscow to Yoshkar-Ola')
print('SQL:',result)

SQL Prompt: ["You are a SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\nCREATE TABLE `flights` (\n  `flight_id` int NOT NULL COMMENT 'Flight ID',\n  `flight_no` char(6) DEFAULT NULL COMMENT 'Flight number',\n  `scheduled_departure` varchar(30) DEFAULT NULL COMMENT 'Scheduled departure time with timestamp and time zone',\n  `scheduled_arrival` varchar(30) DEFAULT NULL COMMENT 'Scheduled arrival time with timestamp and time zone',\n  `departure_airport` char(3) DEFAULT NULL COMMENT 'Departure airport code',\n  `arrival_airport` char(3) DEFAULT NULL COMMENT 'Arrival airport code',\n  `status` varchar(20) DEFAULT NULL COMMENT 'Flight status(Enumerated value:Arrived,Scheduled,On Time,Delayed,Cancelled,Departed)',\n  `aircraft_code` char(3) DEFAULT NULL COMMENT 'Aircraft code',\n  `actual_departure` varchar(30) DEFAULT NULL COMMENT 'Actual departure time with timestamp and time zone',\n  `actual_arrival` varchar(30) DEFAULT NULL COMMENT 'Actual arrival time with timestamp and time zone',\n  PRIMARY KEY (`flight_id`)\n) \n\n\n\nCREATE TABLE `airports_data` (\n  `airport_code` char(3) NOT NULL COMMENT 'Code for the airport',\n  `airport_name` varchar(150) DEFAULT NULL COMMENT 'Name of the airport in JSON format',\n  `city` varchar(150) DEFAULT NULL COMMENT 'City where the airport is located',\n  `coordinates` varchar(255) DEFAULT NULL COMMENT 'Geographic coordinates of the airport',\n  `timezone` varchar(255) DEFAULT NULL COMMENT 'Timezone of the airport',\n  PRIMARY KEY (`airport_code`)\n)\n\n\n\nCREATE TABLE `aircrafts_data` (\n  `aircraft_code` char(3) NOT NULL COMMENT 'Code for the aircraft',\n  `model` varchar(150) DEFAULT NULL COMMENT 'Aircraft model in JSON format',\n  `range` int DEFAULT NULL COMMENT 'The range of the aircraft',\n  PRIMARY KEY (`aircraft_code`)\n)\n\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQL-compliant and executable, and free of syntax errors. \n", 'How many flights are delayed from Moscow to Chelyabinsk', "SELECT count(*) FROM `flights` where departure_airport in (select airport_code from airports_data where city='Moscow') and arrival_airport in (select airport_code from airports_data where city='Chelyabinsk') and status='Delayed'", 'What is the range of the 319 airport', "SELECT range FROM aircrafts_data WHERE airport_code = '319'", 'Query all flight information for 319', "SELECT * FROM flights where aircraft_code='319'", "Show me ABA airport's information", "SELECT * FROM airports_data WHERE airport_code = 'ABA'", 'How long does it take to fly from Moscow to Yoshkar-Ola']
LLM Response: ```sql
SELECT TIMEDIFF(scheduled_arrival, scheduled_departure)
FROM flights
WHERE departure_airport = (SELECT airport_code FROM airports_data WHERE city = 'Moscow')
  AND arrival_airport = (SELECT airport_code FROM airports_data WHERE city = 'Yoshkar-Ola');
```

Extracted SQL: SELECT TIMEDIFF(scheduled_arrival, scheduled_departure)
FROM flights
WHERE departure_airport = (SELECT airport_code FROM airports_data WHERE city = 'Moscow')
  AND arrival_airport = (SELECT airport_code FROM airports_data WHERE city = 'Yoshkar-Ola');
SQL: SELECT TIMEDIFF(scheduled_arrival, scheduled_departure)
FROM flights
WHERE departure_airport = (SELECT airport_code FROM airports_data WHERE city = 'Moscow')
  AND arrival_airport = (SELECT airport_code FROM airports_data WHERE city = 'Yoshkar-Ola');

In [ ]:
result=vn.generate_sql('How many kinds of aircraft')
print('SQL:',result)

In [12]:
#Find the three planes with the greatest range
#Find the three aircrafts that flew the farthest
result=vn.generate_sql('Find the three planes with the greatest range')
print('SQL:',result)

SQL Prompt: ["You are a SQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\nCREATE TABLE `aircrafts_data` (\n  `aircraft_code` char(3) NOT NULL COMMENT 'Code for the aircraft',\n  `model` varchar(150) DEFAULT NULL COMMENT 'Aircraft model in JSON format',\n  `range` int DEFAULT NULL COMMENT 'The range of the aircraft',\n  PRIMARY KEY (`aircraft_code`)\n)\n\n\n\nCREATE TABLE `airports_data` (\n  `airport_code` char(3) NOT NULL COMMENT 'Code for the airport',\n  `airport_name` varchar(150) DEFAULT NULL COMMENT 'Name of the airport in JSON format',\n  `city` varchar(150) DEFAULT NULL COMMENT 'City where the airport is located',\n  `coordinates` varchar(255) DEFAULT NULL COMMENT 'Geographic coordinates of the airport',\n  `timezone` varchar(255) DEFAULT NULL COMMENT 'Timezone of the airport',\n  PRIMARY KEY (`airport_code`)\n)\n\n\n\nCREATE TABLE `flights` (\n  `flight_id` int NOT NULL COMMENT 'Flight ID',\n  `flight_no` char(6) DEFAULT NULL COMMENT 'Flight number',\n  `scheduled_departure` varchar(30) DEFAULT NULL COMMENT 'Scheduled departure time with timestamp and time zone',\n  `scheduled_arrival` varchar(30) DEFAULT NULL COMMENT 'Scheduled arrival time with timestamp and time zone',\n  `departure_airport` char(3) DEFAULT NULL COMMENT 'Departure airport code',\n  `arrival_airport` char(3) DEFAULT NULL COMMENT 'Arrival airport code',\n  `status` varchar(20) DEFAULT NULL COMMENT 'Flight status(Enumerated value:Arrived,Scheduled,On Time,Delayed,Cancelled,Departed)',\n  `aircraft_code` char(3) DEFAULT NULL COMMENT 'Aircraft code',\n  `actual_departure` varchar(30) DEFAULT NULL COMMENT 'Actual departure time with timestamp and time zone',\n  `actual_arrival` varchar(30) DEFAULT NULL COMMENT 'Actual arrival time with timestamp and time zone',\n  PRIMARY KEY (`flight_id`)\n) \n\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is SQL-compliant and executable, and free of syntax errors. \n", 'What is the range of the 319 airport', "SELECT range FROM aircrafts_data WHERE airport_code = '319'", 'Query all flight information for 319', "SELECT * FROM flights where aircraft_code='319'", "Show me ABA airport's information", "SELECT * FROM airports_data WHERE airport_code = 'ABA'", 'How many flights are delayed from Moscow to Chelyabinsk', "SELECT count(*) FROM `flights` where departure_airport in (select airport_code from airports_data where city='Moscow') and arrival_airport in (select airport_code from airports_data where city='Chelyabinsk') and status='Delayed'", 'Find the three planes with the greatest range']
LLM Response: ```sql
SELECT aircraft_code, model, range
FROM aircrafts_data
ORDER BY range DESC
LIMIT 3;
```
Extracted SQL: SELECT aircraft_code, model, range
FROM aircrafts_data
ORDER BY range DESC
LIMIT 3;
SQL: SELECT aircraft_code, model, range
FROM aircrafts_data
ORDER BY range DESC
LIMIT 3;

## Launch the User Interface
![vanna-flask](https://vanna.ai/blog/img/vanna-flask.gif)

In [14]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn)
app.run()

Google Colab doesn't support running websocket servers. Disabling debug mode.
Warning: This function may stop working due to changes in browser security.
Try `serve_kernel_port_as_iframe` instead.

Your app is running at:
https://9t50gyxzc1-496ff2e9c6d22116-8084-colab.googleusercontent.com/
 * Serving Flask app 'vanna.flask'
 * Debug mode: off

## Next Steps
Using Vanna via Jupyter notebooks is great for getting started but check out additional customizable interfaces like the
- [Streamlit app](https://github.com/vanna-ai/vanna-streamlit)
- [Flask app](https://github.com/vanna-ai/vanna-flask)
- [Slackbot](https://github.com/vanna-ai/vanna-slack)